{% extends "layout/base.html" %}
{% load thumbnail %}
{% block content %}

<div id="home_content">

	<div id="ct_diaporama">
		<div id="ct_diapo_headline">
			<h2>NEWS</h2>
		</div>
		
		<img src="../media/images/fond_diapo.png" style="margin-left:10px;margin-top:10px;" />
		<!--<div id="ct_register_btn">
			<a href="#"><img src="../media/images/inscription_btn.png" alt="" /></a>
		</div>-->
		
	</div>
	
	<div id="ct_challenges">
		            	
		<div id="ct_best_challenges">
			<div id="ct_best_challenges_headline">
				<h2>LATEST CHALLENGES</h2>
			</div>
			<div id="ct_challenges_challenges">
				{% for latest in latest %}
					
					{%if forloop.counter == 1 %}
						<div class="ct_challenges_challenge">
							<img src="{% thumbnail latest.photo 200x140 crop %}" alt="latest.titre" />
							<h3><a href='challenges/display_challenge/{{ latest.id}}'>{{ latest.titre}}</a></h3>
							<p><img src="../media/images/picto_chrono.png" alt="" /><span class="ct_challenge_data">{{ latest.timeleft}}</span> <img src="../media/images/picto_avatar.png" alt="" /><span class="ct_challenge_data">{{ latest.nbreleve }}</span> <img src="../media/images/picto_eclair.png" alt=""/><span class="ct_challenge_data">{{ latest.difficulte }}</span></p>
						</div>
					{% endif %}
					{%if forloop.counter == 2 %}
					<div class="ct_challenges_challenge marginRight">
							<img src="{% thumbnail latest.photo 200x140 crop %}" alt="latest.titre" />
							<h3><a href='challenges/display_challenge/{{ latest.id}}'>{{ latest.titre}}</a></h3>
							<p><img src="../media/images/picto_chrono.png" alt="" /><span class="ct_challenge_data">{{ latest.timeleft}}</span> <img src="../media/images/picto_avatar.png" alt="" /><span class="ct_challenge_data">{{ latest.nbreleve }}</span> <img src="../media/images/picto_eclair.png" alt=""/><span class="ct_challenge_data">{{ latest.difficulte }}</span></p>
						</div>
						{% endif %}
					{%if forloop.counter == 3 %}
						<div class="ct_challenges_challenge">
							<img src="{% thumbnail latest.photo 200x140 crop %}" alt="latest.titre" />
							<h3><a href='challenges/display_challenge/{{ latest.id}}'>{{ latest.titre}}</a></h3>
							<p><img src="../media/images/picto_chrono.png" alt="" /><span class="ct_challenge_data">{{ latest.timeleft}}</span> <img src="../media/images/picto_avatar.png" alt="" /><span class="ct_challenge_data">{{ latest.nbreleve }}</span> <img src="../media/images/picto_eclair.png" alt=""/><span class="ct_challenge_data">{{ latest.difficulte }}</span></p>
						</div>
					{% endif %}
					{%if forloop.counter == 4 %}
					<div class="ct_challenges_challenge marginRight">
							<img src="{% thumbnail latest.photo 200x140 crop %}" alt="latest.titre" />
							<h3><a href='challenges/display_challenge/{{ latest.id}}'>{{ latest.titre}}</a></h3>
							<p><img src="../media/images/picto_chrono.png" alt="" /><span class="ct_challenge_data">{{ latest.timeleft}}</span> <img src="../media/images/picto_avatar.png" alt="" /><span class="ct_challenge_data">{{ latest.nbreleve }}</span> <img src="../media/images/picto_eclair.png" alt=""/><span class="ct_challenge_data">{{ latest.difficulte }}</span></p>
						</div>
						{% endif %}
			{% endfor %}
			</div>	            
		</div>
	        
	    <div id="ct_most_popular">
	    	<div id="ct_most_popular_headline">
				<h2>THE MOST POPULAR</h2>
			</div>
	    	<div id="ct_challenges_challenges">
			
				{% for challenges, releves in best_challenges %}
					{%if forloop.counter == 1 %}
					<div class="ct_challenges_challenge">
						<img src="{% thumbnail challenges.photo 200x140 crop %}" alt="challenges.titre" />
						<h3><a href='challenges/display_challenge/{{ challenges.id}}'>{{ challenges.titre}}</a></h3>
						<p><img src="../media/images/picto_chrono.png" alt="" /><span class="ct_challenge_data">{{ challenges.timeleft}}</span> <img src="../media/images/picto_avatar.png" alt="" /><span class="ct_challenge_data">{{ releves }}</span> <img src="../media/images/picto_eclair.png" alt=""/><span class="ct_challenge_data">{{ challenges.difficulte }}</span></p>
					</div>
					{% endif %}
					{%if forloop.counter == 2 %}
					<div class="ct_challenges_challenge marginRight">
						<img src="{% thumbnail challenges.photo 200x140 crop %}" alt="challenges.titre" />
						<h3><a href='challenges/display_challenge/{{ challenges.id}}'>{{ challenges.titre}}</a></h3>
						<p><img src="../media/images/picto_chrono.png" alt="" /><span class="ct_challenge_data">{{ challenges.timeleft}}</span> <img src="../media/images/picto_avatar.png" alt="" /><span class="ct_challenge_data">{{ releves }}</span> <img src="../media/images/picto_eclair.png" alt=""/><span class="ct_challenge_data">{{ challenges.difficulte }}</span></p>
					</div>
					{% endif %}
					{%if forloop.counter == 3 %}
					<div class="ct_challenges_challenge">
						<img src="{% thumbnail challenges.photo 200x140 crop %}" alt="challenges.titre" />
						<h3><a href='challenges/display_challenge/{{ challenges.id}}'>{{ challenges.titre}}</a></h3>
						<p><img src="../media/images/picto_chrono.png" alt="" /><span class="ct_challenge_data">{{ challenges.timeleft}}</span> <img src="../media/images/picto_avatar.png" alt="" /><span class="ct_challenge_data">{{ releves }}</span> <img src="../media/images/picto_eclair.png" alt=""/><span class="ct_challenge_data">{{ challenges.difficulte }}</span></p>
					</div>
					{% endif %}
					{%if forloop.counter == 4 %}
					<div class="ct_challenges_challenge marginRight">
						<img src="{% thumbnail challenges.photo 200x140 crop %}" alt="challenges.titre" />
						<h3><a href='challenges/display_challenge/{{ challenges.id}}'>{{ challenges.titre}}</a></h3>
						<p><img src="../media/images/picto_chrono.png" alt="" /><span class="ct_challenge_data">{{ challenges.timeleft}}</span> <img src="../media/images/picto_avatar.png" alt="" /><span class="ct_challenge_data">{{ releves }}</span> <img src="../media/images/picto_eclair.png" alt=""/><span class="ct_challenge_data">{{ challenges.difficulte }}</span></p>
					</div>
					{% endif %}
			{% endfor %}
			</div>
	    </div>
	        
	</div>
	
	<div id="ct_challengers_follow">
	
		<div id="ct_challengers">
	    	<div id="ct_challengers_headline">
				<h2>BEST CHALLENGERS</h2>
			</div>
			<div id="ct_challengers_users">
				{% for best_challenger in best_challengers %}
				
					<div class="ct_challengers_user">
						<img src="{% thumbnail best_challenger.avatar 120x120 crop %}" alt="{{ best_challenger.user.username}}" />
						<h3><a href='user/profile/{{ best_challenger.user.username}}'>{{ best_challenger.user.username}}</a></h3>
						<p>{{ best_challenger.points }}</p>
					</div>
			{% endfor %}
			</div>
	    </div>
	        
	    <div id="ct_follow">
	    	<div id="ct_follow_headline">
				<h2>FOLLOW US</h2>
			</div>
			<div id="ct_follow_users">
				<div class="ct_follow_user">
					<img src="../media/images/follow.png" alt="" />
					<h3>FACEBOOK</h3>
					<p>bla bla</p>
				</div>
				<div class="ct_follow_user">
					<img src="../media/images/follow.png" alt="" />
					<h3>TWITTER</h3>
					<p>bla bla</p>
				</div>
			</div>
	    </div>
	    
	</div>

</div>
{% endblock content %}
