{% extends "layout/base.html" %}

{% block content %}

<div id="home_content">

	<div id="ct_diaporama">
		<div id="ct_diapo_headline">
			<h2>NEWS</h2>
		</div>
		
		<img src="../media/images/fond_diapo.png" style="margin-left:10px;margin-top:10px;" />
		<!--<div id="ct_register_btn">
			<a href="#"><img src="../media/images/inscription_btn.png" alt="" /></a>
		</div>-->
		
	</div>
	
	<div id="ct_challenges">
		            	
		<div id="ct_best_challenges">
			<div id="ct_best_challenges_headline">
				<h2>BEST CHALLENGES</h2>
			</div>
			<div id="ct_challenges_challenges">
			{% for challenges, releves in best_challenges %}
				<div class="ct_challenges_challenge marginRight">
					<img src="../media/images/challenge_avatar.png" alt="" />
					<h3>{{ challenges.titre}}</h3>
					<p><img src="../media/images/picto_chrono.png" alt="" /><span class="ct_challenge_data">{{ challenges.timeleft}}</span> <img src="../media/images/picto_avatar.png" alt="" /><span class="ct_challenge_data">{{ releves }}</span> <img src="../media/images/picto_eclair.png" alt=""/><span class="ct_challenge_data">{{ challenges.difficulte }}</span></p>
				</div>
			{% endfor %}
			</div>	            
		</div>
	        
	    <div id="ct_most_popular">
	    	<div id="ct_most_popular_headline">
				<h2>THE MOST POPULAR</h2>
			</div>
	    	<div id="ct_challenges_challenges">
				<div class="ct_challenges_challenge marginRight">
					<img src="../media/images/challenge_avatar.png" alt="" />
					<h3>MANGER DU CHOCOLAT ...</h3>
					<p><img src="../media/images/picto_chrono.png" alt="" /><span class="ct_challenge_data">03:04:05</span> <img src="../media/images/picto_avatar.png" alt="" /><span class="ct_challenge_data">22</span> <img src="../media/images/picto_eclair.png" alt=""/><span class="ct_challenge_data">4</span></p>
				</div>
				<div class="ct_challenges_challenge">
					<img src="../media/images/challenge_avatar.png" alt="" />
					<h3>MANGER DU CHOCOLAT ...</h3>
					<p><img src="../media/images/picto_chrono.png" alt="" /><span class="ct_challenge_data">03:04:05</span> <img src="../media/images/picto_avatar.png" alt="" /><span class="ct_challenge_data">22</span> <img src="../media/images/picto_eclair.png" alt=""/><span class="ct_challenge_data">4</span></p>
				</div>
				<div class="ct_challenges_challenge marginRight">
					<img src="../media/images/challenge_avatar.png" alt="" />
					<h3>MANGER DU CHOCOLAT ...</h3>
					<p><img src="../media/images/picto_chrono.png" alt="" /><span class="ct_challenge_data">03:04:05</span> <img src="../media/images/picto_avatar.png" alt="" /><span class="ct_challenge_data">22</span> <img src="../media/images/picto_eclair.png" alt=""/><span class="ct_challenge_data">4</span></p>
				</div>
				<div class="ct_challenges_challenge">
					<img src="../media/images/challenge_avatar.png" alt="" />
					<h3>MANGER DU CHOCOLAT ...</h3>
					<p><img src="../media/images/picto_chrono.png" alt="" /><span class="ct_challenge_data">03:04:05</span> <img src="../media/images/picto_avatar.png" alt="" /><span class="ct_challenge_data">22</span> <img src="../media/images/picto_eclair.png" alt=""/><span class="ct_challenge_data">4</span></p>
				</div>
			</div>
	    </div>
	        
	</div>
	
	<div id="ct_challengers_follow">
	
		<div id="ct_challengers">
	    	<div id="ct_challengers_headline">
				<h2>BEST CHALLENGERS</h2>
			</div>
			<div id="ct_challengers_users">
			{% for best_challenger in best_challengers %}
				
					<div class="ct_challengers_user">
						<img src="../media/images/avatar.png" alt="" />
						<h3>{{ best_challenger.user.username }}</h3>
						<p>{{ best_challenger.points }}</p>
					</div>
			{% endfor %}
				
			</div>
	    </div>
	        
	    <div id="ct_follow">
	    	<div id="ct_follow_headline">
				<h2>FOLLOW US</h2>
			</div>
			<div id="ct_follow_users">
				<div class="ct_follow_user">
					<img src="../media/images/follow.png" alt="" />
					<h3>FACEBOOK</h3>
					<p>bla bla</p>
				</div>
				<div class="ct_follow_user">
					<img src="../media/images/follow.png" alt="" />
					<h3>TWITTER</h3>
					<p>bla bla</p>
				</div>
			</div>
	    </div>
	    
	</div>

</div>
{% endblock content %}
