{% extends "layout/base.html" %}

{% block log %}
	{% if user.is_authenticated %}
		<p>tu es connecté <a href='/logout/'>Se déconnecter</a></p>
	{% else %}
  		{% if erreur %}
    		<p class="error">{{erreur}}</p>
  		{% endif %}

  		<form action="" method="post">
    		<label for="username">User name:</label>
    		<input type="text" name="username" value="" id="username">
    		<label for="password">Password:</label>
    		<input type="password" name="password" value="" id="password">

    		<input type="submit" value="login" />
    		<input type="hidden" name="next" value="{{ next|escape }}" />
  		</form>

	{% endif %}
{% endblock %}