{% extends "layout/base.html" %}
{% load thumbnail %}
{% block content %}
	
	
<div id="profile">
	
	<div id="top_profile"></div>	
		
	<!-- si le profil demandé n'existe pas -->
	{% if error %}
		{{ error }}
		<strong>{{ requested_user }}</strong>
	{% else %}
	
	<div id="profile_left">

		<!-- l'url de l'img -->
		<div id="profile_avatar">
			<img src="{% thumbnail user_to_display.get_profile.avatar 140x140 crop %}" />
		</div>
		
		<!-- Pseudo de la personne -->
		<h3 class="profile_pseudo">{{  user_to_display.username }}</h3>
	
		<!-- si le user connecté est le même que le profil affiché, il peut modifier et supprimer son profil-->
		{% ifequal user.id user_to_display.id %}
			<a  id="edit_profile_link" href="/user/edit-profile">Edit my profile</a><br/>
			<a  id="delete_profile_link" href="/user/delete-account/?confirm=false">Delete my account</a><br/>
		{% endifequal %}
		
		<!-- Dans le doute, l'email je me r'apelle plus si on l'affiche -->
		<p>Email: {{  user_to_display.email }}</p>
		
		<!-- Je suggère une petite soustraction sur la date de naissance et la date actuelle pour afficher l'âge et pas forcement la date entiere -->
		<p>Born on: {{  user_to_display.get_profile.dateNaissance }}<br />
				
		<!-- un IF pour déterminer si masculin ou feminin, j'ai mis du texte, je sais pas encore si ce sera un picto mais l'idée est là-->
		{% if user_to_display.get_profile.sexeM %}
			Sex: Male
		{% else %}
			Sex: Female
		{% endif %}
		<br/>
		
		<!-- Pays d'origine -->
		Lives in: {{ user_to_display.get_profile.pays }}
		</p>
		
		<p><a href=""><img src="{{ MEDIA_URL }}images/ft_facebook.png" alt="" /></a> <a href=""><img src="{{ MEDIA_URL }}images/ft_twitter.png" alt="" /></a> <a href=""><img src="{{ MEDIA_URL }}images/profile_btn_message.png" alt="" /></a></p>
		
		
	</div>
	<div id="profile_center">	
		
		<div id="profile_trophies_back">
			<div id="profile_trophies_headline">
				<h2>TROPHIES</h2>
			</div>
			
			<div id="profile_trophies">
				
				<!-- Nombre de points -->
				<p class="points_profile">{{  user_to_display.get_profile.points }} POINTS</p>
				
				<div id="trophie_gold" class="trophie_div">
					<div class="trophie_border">
						<div class="trophie_left">
							<img src="{{ MEDIA_URL }}images/profile_trophie_gold.png" alt="" />
						</div>
						<div class="number_right">
							<span> 46</span>
						</div>
					</div>
					<p class="clear">GOLD</p>
				</div>
				<div id="trophie_silver" class="trophie_div">
					<div class="trophie_border">
						<div class="trophie_left">
							<img src="{{ MEDIA_URL }}images/profile_trophie_silver.png" alt="" />
						</div>
						<div class="number_right">
							<span> 146</span>
						</div>
					</div>
					<p class="clear">SILVER</p>
				</div>
				<div id="trophie_bronze" class="trophie_div">
					<div class="trophie_border">
						<div class="trophie_left">
							<img src="{{ MEDIA_URL }}images/profile_trophie_bronze.png" alt="" />
						</div>
						<div class="number_right">
							<span>7777</span>
						</div>
					</div>
					<p class="clear">BRONZE</p>
				</div>
				<div id="trophie_taken" class="trophie_div">
					<div class="trophie_border">
						<div class="trophie_left">
							<img src="{{ MEDIA_URL }}images/profile_trophie_taken.png" alt="" />
						</div>
						<div class="number_right">
							<span>47</span>
						</div>
					</div>
					<p class="clear">TAKEN</p>
				</div>
				<div id="trophie_given" class="trophie_div">
					<div class="trophie_border">
						<div class="trophie_left">
							<img src="{{ MEDIA_URL }}images/profile_trophie_given.png" alt="" />
						</div>
						<div class="number_right">
							<span>77</span>
						</div>
					</div>
					<p class="clear">GIVEN</p>
				</div>
		
			</div>
			
		</div>
		
		<div id="profile_challenges">
		
			<div id="challenges_accepted">
				<div class="challenges_headline">
		    		<h2>TAKEN UP BY {{ user_to_display.get_profile.user.username }}</h2>
		    	</div>
		    	<!-- Liste des defis releves -->
			    {% for d_rel in defis_releves %}
			    <div class="profile_challenge">
			        {{ d_rel.titre }}
					{{ d_rel.description }}
					{{ d_rel.debut }}
					{{ d_rel.fin }}
				    {{ d_rel.photo }}
					{{ d_rel.liste }}    
					{{ d_rel.difficulte }}
					{{ d_rel.categorie }}
			    </div>
			    {% endfor %}
		    </div>
		    <div id="challenges_created">
		    	<div class="challenges_headline">
		    		<h2>CREATED BY {{ user_to_display.get_profile.user.username }}</h2>
		    	</div>
				<!-- Liste des defis crees -->
				<div id="challenges_created_all">
				    {% for d_cre in defis_crees %}
				    <div class="profile_challenge">
				    	<div class="profile_challenge_picture">
				    		<!--<img src="{{ d_cre.photo }}" />-->
				    		<a href="#"><img src="{{ MEDIA_URL }}images/profile_challenge_avatar.png" alt="" /></a>
				    	</div>
				    	<div class="profile_content_challenge">
					        <h3 class="profile_titre_challenge">{{ d_cre.titre }}</h3>
							<!--{{ d_cre.description }}-->
							
							<!--{{ d_cre.debut }}
							{{ d_cre.fin }}-->
						    
							<!--{{ d_cre.liste }}  -->  
							
							<p><img src="{{ MEDIA_URL }}images/picto_chrono_challenge.png" alt="" /><span class="profile_challenge_timer"><!--03:04:05-->{{ d_cre.fin }}</span><br /> 
							   <img src="{{ MEDIA_URL }}images/picto_avatar_challenge.png" alt="" /><span class="profile_challenge_members">22</span> <img src="{{ MEDIA_URL }}images/picto_eclair.png" alt=""/><span class="profile_challenge_difficulty">{{ d_cre.difficulte }}</span></p>
							
						</div>
						<div class="clear"></div>
						<div class="profile_challenge_info">
							<span class="profile_challenge_author">By Lolote</span> <span class="profile_category">{{ d_cre.categorie }}</span>
						</div>
					</div>
					{% endfor %}
				</div>
		    </div>
	    
	    </div>
	    
	</div>
		
		
	<div id="profile_right">   
		
		<div id="profile_badge_back">
			<div id="profile_badge_headline">
				<h2>BADGES</h2>
			</div>
			<div id="profile_badge">
				
			</div>
			
		</div>
		 
		<!-- Liste des badges remportés -->
	    {% for b in badges %}
	    	{{ b.photo }}
	        {{ b.titre }}
	        <br/>
	    {% endfor %}
	</div>

	<div id="bottom_profile"></div>

	{% endif %}

</div>

{% endblock %}