@charset "utf-8";
/* CSS Document */
/*
 * 	PROFILE
 *
 */
#top_profile {
	width:1000px;
	height:30px;
}
#profile_left {
	float:left;
	width:170px;
	padding-right:18px;
	min-height:300px;
	border-right:#B5B5B5 1px solid;
	font-size:13px;
	color:#444444;
}
#profile_left .profile_pseudo {
	font-size:18px;
	text-transform:uppercase;
	color:#2695a0;
	margin:0;
	margin-top:5px;
	padding:0;
	font-weight:bold;
}
#profile_left #profile_avatar {
	width:160px;
	height:165px;
	background-image:url(../images/profile_avatar.png);
	padding-left:13px;
	padding-top:12px;
}
#profile_left .edit_profile_link {
	text-decoration:none;
	font-weight: bold;
	color:#444;
}
#profile_left .edit_profile_link:hover {
	text-decoration:underline;
	font-weight: bold;
	color:#444;
}
#profile_left .delete_profile_link {
	text-decoration:none;
	font-weight: bold;
	color:#444;
}
#profile_left .delete_profile_link:hover {
	text-decoration:underline;
	font-weight: bold;
	color:#444;
}



#profile_center {
	float:left;	
	width:570px;
	margin-left:20px;
	min-height:300px;
}
#profile_center #profile_trophies_back {
	width:548px;
	height:178px;
	background-image:url(../images/pattern_back.png);
	box-shadow: 1px 1px 5px #AAA;
	padding-top:14px;
}
#profile_center #profile_trophies {
	width:519px;
	height:162px;
	margin-left:14px;
	background-color:white;
	border:1px solid #CCC;
}

#profile_center #profile_trophies_headline {
	width:144px;
	height:42px;
	position:absolute;
	top:240px;
	background-image:url(../images/profile_trophies_headline.png);
	color:white;
}
#profile_center #profile_trophies_headline h2 {
	font-size:18px;
	margin-top:12px;
	margin-left:15px;
	text-shadow: 1px 1px 1px #666666;
}
#profile_trophies .points_profile {
	font-size:18px;
	font-weight:bold;
	color:#e0423f;
	text-align:right;
	padding-right:15px;
}
#profile_center .trophie_div {
	width:89px;
	height:97px;
	float:left;
	margin-left:12px;
}
#profile_center .trophie_div p {
	color:#b5b5b5;
	font-size:12px;
	padding:0;
	margin:0;
	margin-top:2px;
}
#profile_center img {
	
}
#profile_center span {
	vertical-align:top;
}
.trophie_left {
	float:left;
	width:55px;
}
.trophie_left img {
	padding:5px;
}
.number_right {
	float:left;
	margin-top:25px;
}
.trophie_border {
	border-bottom:1px solid #CCC;
	height:75px;
}

#profile_challenges {
	width:548px;
}
#challenges_created_all {
	margin-top:20px;
}
.challenges_headline {
	background-image:url(../images/profile_challenges_headline.png);
	height:60px;
	text-transform:uppercase;
}
.challenges_headline h2 {
	text-align:center;
	padding-top:18px;
	font-size:18px;
	color:white;
	text-shadow: 1px 1px 1px #666666;
}
.profile_challenge {
	width: 260px;
	height:160px;
	margin-bottom:10px;
	margin-left:10px;
	float:left;
}
.profile_challenge_picture {
	width:166px;
	height:123px;
	background-image:url(../images/pattern_back.png);
	box-shadow: 1px 1px 5px #AAA;
	float:left;
	margin-bottom:10px;
}
.profile_challenge_picture a img {
	border:1px #CCC solid;
	padding:0;
	margin:0;
}
.profile_challenge_picture a {
	padding:9px;
}
.profile_challenge_picture a img {
	margin-top:9px;
}
.profile_titre_challenge {
	color:#515151;
	font-size: 14px;
	padding:0;
	margin:0;
	text-transform:uppercase;
}
.profile_content_challenge {
	float:left;
	width:80px;
	margin-left:10px;
}
.profile_content_challenge p {
	font-size:12px;
	font-weight:bold;
	color:#515151;
}
.profile_challenge_difficulty {
	color:#515151;
}
.profile_challenge_members {
	color:#258ca1;
}
.profile_challenge_timer {
	color:#cd2623;
}
.profile_category {
	color:#808080;
	background-image:url(../images/back_category.png);
	padding:3px;
	padding-top:2px;
	float:right;
}
.profile_challenge_author {
	color:#444444;
}
.profile_challenge_author a {
	color:#444444;
	text-decoration:none;
}
.profile_challenge_author a:hover {
	color:#444444;
	text-decoration:underline;
}
.profile_challenge_info {
	width:166px;
	font-size:12px;
	font-weight:bold;
}


#profile_right {
	width:220px;
	min-height:300px;
	float:left;
}
#profile_right #profile_badge_back {
	width:217px;
	height:348px;
	background-image:url(../images/pattern_back.png);
	box-shadow: 1px 1px 5px #AAA;
	padding-top:12px;
}
#profile_right #profile_badge {
	width:191px;
	height:333px;
	margin-left:12px;
	border:1px solid #CCC;
	background-color:white;
}
#profile_right #profile_badge_headline {
	width:140px;
	height:45px;
	position:absolute;
	top:240px;
	background-image:url(../images/profile_badge_headline.png);
	color:white;
}
#profile_right #profile_badge_headline h2 {
	font-size:18px;
	margin-top:12px;
	margin-left:15px;
	text-shadow: 1px 1px 1px #666666;
}


#bottom_profile {
	width:1000px;
	height:10px;
	clear:both;
}