{% extends "layout/base.html" %}
{% load thumbnail %}
{% block content %}
	<ul>
		{% for defi in defis %}
			<li class="challenge">
				<img src="{% thumbnail defi.photo 140x140 crop %}" alt="defi.titre" />
				<a href="/challenges/display_challenge/{{defi.id}}/" title="{{defi.titre}}">{{ defi.titre }}</a> 
			<ul>
				<p>Difficulty : {{ defi.difficulte }} </p>
			</ul>
			<ul>
				<p>Time Left : {{ defi.timeleft }} </p>
			</ul>
			<ul>
				<p>Number of challengers : {{ defi.nbreleve }} </p>
			</ul>
			</li>
			<br />
		{% endfor %}
	</ul>
	
	<p><a href="/challenges/create_challenge/" title="{{defi.titre}}">Create a challenge</a> </p>
{% endblock content %}
