{% extends "layout/baseFORMLB.html" %}

{% block title %}Create a challenge{% endblock %}

{% block content %}
	<!-- formulaire utilisé pour la modif et la creation-->
	<!-- test si modif ou creation-->
	{% if modif %}
	 <h1>Modify a response</h1>
	{% else %}
	  <h1>Create a response</h1>
	{% endif %}
	   <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}

	{{ reponse_form.as_p }}

    {% if modif %}
	  <p><input type="submit" value="Modify" /></p>
	{% else %}
	 <p><input type="submit" value="Create" /></p>
	{% endif %}
  </form>
{% endblock %}