{% extends "layout/base.html" %}

{% block title %}Create a challenge{% endblock %}

{% block content %}
	{% if error %}
		{{ error }}
	{% else %}
	{% if modif %}
	<p><a href="/challenges/display_challenge/{{ defi }}/" title="Back to the challenge"> Back to the challenge </a></p>
	 <h1>Modify a challenge</h1>
	{% else %}
	  <h1>Create a challenge</h1>
	{% endif %}
	   <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}

	    {{ defi_form.as_p }}
	{% if modif %}
    <p><input type="submit" value="Modify" /></p>
	{% else %}
	<p><input type="submit" value="Create" /></p>
	{% endif %}
  </form>
	{% endif %}
{% endblock %}