{% extends "layout/base.html" %}

{% block content %}
	<p><a href="/challenges/list_challenges/" title="Voir tous les challenges"> Retour aux challenges </a></p>
	<h2>{{ defi.titre }}</h2>
	<img src='{{ defi.photo }}' alt='picture' />
	<ul>
		<li>Category : {{ category }}</li>
		<li>Description : {{ defi.description }}</li>
		<li>Difficulty : {{ difficulty }}</li>		
		<li>Beginning : {{ defi.debut }}</li>	
		{% if end %}
		<li>Time Left: {{ time_left }}</li>
		<p><a href='#'>Take up the challenge</a></p>
		{% else %}
		<p>Challenge over</p>
		{% endif %}		
		{% if createur %}
		<ul class="modif_challenge">
				<a href="/challenges/modif_challenge/{{defi.id}}/" title="{{defi.titre}}">Modify</a> 
			</ul>
		<ul class="delete_challenge">
			<a href="/challenges/delete_challenge/{{defi.id}}/confirm/" title="{{defi.titre}}">Delete</a> 
		</ul>
		{% endif %}
	</ul>
<h3>Challengers</h3>	
	<ul>
		{% for user in users %}
			<li class="user">
				<p> <a href='#'>{{ user}}</a> </p>
			</li>
			<br />
		{% endfor %}
	</ul>
<h3>Repondre à un défi</h3>

  <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
    
      {{ Reponse_form.as_p }}
      <input type="submit" value="Repondre à un défi">
  </form>
  
  {% for reponse in reponses %}
			<li class="challenge">
				<a href="/challenges/display_challenge/{{defi.id}}/" title="{{defi.titre}}">{{ defi.titre }}</a> 
			<ul>
			
				<p>{{ reponse.message }} </p>
			</ul>
			<ul>
				<p>Date réponse : {{ reponse.date_reponse }} </p>
			</ul>
			<ul>
				<p>note : en cours</p>
			</ul>

			<ul class="modif_challenge">
				<a class="test" href="/challenges/modif_reponse/{{reponse.id}}/" title="{{reponse.id}}">Modify</a> 
				<script>
            jQuery('a.test').colorbox();
        		</script>
			</ul>
			<ul class="delete_challenge">
				<a  href="/challenges/delete_reponse/{{reponse.id}}/" title="{{reponse.id}}">Delete</a> 
					
			</ul>
			</li>
			<br />
			
			{% load comments %}
			

			{% render_comment_form for reponse %}

			{% render_comment_list for reponse %}
			
  {% endfor %}	
{% endblock content %}

