{% extends "layout/base.html" %}
{% load thumbnail %}
{% block content %}
	<p><a href="/challenges/list_challenges/" title="Voir tous les challenges"> Retour aux challenges </a></p>
	<h2>{{ defi.titre }}</h2>
	<img src="{% thumbnail defi.photo 140x140 crop %}" alt="defi.titre" />
	<ul>
		<li>Category : {{ category }}</li>
		<li>Description : {{ defi.description }}</li>
		<li>Difficulty : {{ difficulty }}</li>		
		<li>Beginning : {{ defi.debut }}</li>	
		{% if end %}
		<li>Time Left: {{ time_left }}</li>
		<p><a href='#'>Take up the challenge</a></p>
		{% else %}
		<p>Challenge over</p>
		{% endif %}		
		{% if createur %}
		<ul class="modif_challenge">
				<a href="/challenges/modif_challenge/{{defi.id}}/" title="{{defi.titre}}">Modify</a> 
			</ul>
		<ul class="delete_challenge">
			<a href="/challenges/delete_challenge/{{defi.id}}/confirm/" title="{{defi.titre}}">Delete</a> 
		</ul>
		{% endif %}
	</ul>
<h3>Challengers</h3>	
	<ul>
		{% for user in users %}
			<li class="user">
				<p> <a href='#'>{{ user}}</a> </p>
			</li>
			<br />
		{% endfor %}
	</ul>
{% endblock content %}
